footer {
    background-color: $color-light-3;
    background: linear-gradient(90deg, $color-light-3 0%, $color-light-2 100%);
    width: 100%;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-top: 1em;
    border-top: 1px solid $color-shadow-2;
    
    .container {
        padding-top: 1rem;
        width: auto;
        
        .social-media-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
    
            .social-icon {
                 margin-left: 1rem;
    
            }
        }
        .footer-text{
            font-size: small;
            text-align: center;
            color: $color-dark-3
        }
    }
}